/* header */
.contact header {
    height: 180px;
}

.contact header nav {
    text-align: right;
    padding-top: 45px;
    width: 99%;
    margin: 0 auto;
}

.contact header nav .navegacion {
    padding: 15px 1px;
}

.contact header nav .navegacion li {
    display: inline;
    padding: 14px 1px;
    border-left: 1px solid #000000;

}

.contact header li.barraDerecha {
    border-right: 1px solid #000000;
}

.contact header nav .navegacion li a {
    font-family: var(--Fuente-Subtitulos);
    font-size: 24px;
    text-transform: uppercase;
}

.contact header nav .icons {
    margin-top: 8px;
}
/* main */
.contact main{
    text-transform: uppercase;
    font-family: var(--Fuente-Subtitulos);
}

.contact main h2{
    margin: 40px 0 10px;
    font-weight: 700;
    font-size: 2rem ;
}
.contact main h4{
    color: var(--colorSecundarioFuentes);
    margin-bottom: 15px;
}
.contact main p{
 color: #808080;
}
.contact main p strong{
color:#000000;
}

