.music{
    font-family: var(--Fuente-Subtitulos) ;
}

/* header */
.music header{
    background-image: url("../img/emilia-music-top.jpg");
    background-repeat: no-repeat;
    background-size: 100% 160px; /* puedo usar % tamben si pongo 100% me va a ocupar todo igual que si pondria cover */
    height: 160px;
}
.music header nav{
    text-align: right;
    padding-top: 60px;
    widht: 98px;
}
.music header nav .navegacion{
 background-color: #ffffff7e;
 

}
.music header nav .navegacion li{
    display: inline;
    padding: 10px;
    border-left: 1px solid #000000;
    
}
.music header  li.barraDerecha{
    border-right: 1px solid #000000;
}
.music header nav .navegacion li a{
    font-size: 24px;
}

/* main */
.music h1,h2{
    font-family:var(--Fuente-Titulos);
    text-transform: uppercase;
}/* para aplicar un atributo a 2 etiquetas a la vez se le pone una ,(coma) . */
.music main ul{
    margin-left: 40px;
}
/* main */
.music  main a{
    color: #7a7a7a;

}
.music main .start{
    margin-top: 90px;
}/* margin top para darle margen desde arriba */
/* mas especifico sea el elemento que voy a utilizar mas especifico sera el diseño, 
.music tendra prioridad ante si yo escribiera un h2 o h1 solito,la que sea mas puntual mas especifica sera la que tenga prioridad  */
.music main last{
    margin-bottom: 10px;
}
.music main span{
    text-transform: uppercase;
}
.music main ol{
    margin-left: 35px ;
}
.music main ol li{
    margin-bottom: 10px;
    list-style: decimal-leading-zero;
}/* decimal utilizando el cero por eso es decimal leading zero */